.figure-image {
  text-align: center;
  font-size: small;
  text-indent: 0;
  border: thin silver solid;
  padding: 0.5em;
  margin: 0.5em auto;
}
.figure-image img.scaled {
  width: 100%;
}

.figure-image figcaption {
  background-color: #F9F9F9
}
