{{site.baseurl}}
{{site.baseurl}}/assets/media/site-anasayfa.PNG
{{site.baseurl}}/assets/media/site-anasayfa.PNG
<img src="{{site.baseurl}}/assets/media/site-anasayfa.PNG">
<figure>
    {% if include.url %}
    <a href="{{ include.url }}">
    {% endif %}
    <img
        {% if include.srcabs %}
            src="{{ include.srcabs }}"
        {% else %}
            src="{{ site.baseurl }}/assets/images/{{ include.src }}"
        {% endif %}
    max-width="{{ include.width }}"     
    alt="{{ include.alt }}">
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <figcaption>{{ include.description }}</figcaption>
    {% endif %}
</figure>
