{% assign figure_width = include.width %}
<figure class="figure-image" style="width:{{ figure_width | default: 60%  }}">
    {% if include.url %}
    <a href="{{ include.url }}">
    {% else %}
    <a href="{{ site.baseurl }}/assets/media/{{ include.src }}">
    {% endif %}
    <img class="scaled"
        {% if include.srcabs %}
            src="{{ include.srcabs }}"
        {% else %}
            src="{{ site.baseurl }}/assets/media/{{ include.src }}"
        {% endif %}      
        {% if include.alt.blank? %}
            alt="{{ include.src }}"
        {% else %}
            alt="{{ include.alt }}"
        {% endif %}
    >
    </a>   
    {% if include.description %}
        <figcaption>{{ include.description }}</figcaption>
    {% endif %}
</figure>
